body {
    background: #0b1330;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #5fa4ff;
}

button {
    background: #2f6cff;
    color: white;
    border: none;
    border-radius: 12px;

    padding: 15px 30px;
    margin: 10px;

    font-size: 18px;
    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background: #4c84ff;
    transform: scale(1.05);
}

.hidden {
    display: none;
}
